.select_input{
    height: 30px;
    width: 80%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
#certificate{
    height : 40px;
    background : #04b18f;
    color : #fff;
    border : none;
}
#academic-file{
    display : none;
}
#back-intake{
    cursor : pointer;
    width : 15%;
    height : 30%;
    border-radius : 3px;
    border : 1px solid  #1f2937;
    margin : 1%;
    text-align : center;
}
#candidate-page{
    width : 100%;
    background : var(--bs-body-bg);
}
#course-page p{
    width : 98%;
    margin : 1%;
    background : rgba(234,234,234,0.7);
    border-radius : 3px;
}
.box-in p{
    background : transparent !important;
}
.box-not p{
    background : transparent !important;
}
.box-out p{
    background : transparent !important;
}
#course-page section{
    width : 98%;
    margin : 1%;
    display : flex;
    flex-wrap : wrap;
    flex-direction : row;
    border-radius : 3px;
    text-align : center;
    height : auto;
}
#courses-section div{
    width : 19.6%;
    margin : 0.2%;
}
#courses-section button{
    height : 40px;
    margin : 1%;
    width : 18%;
}
#courses-section{
    width : 100%;
    display : flex;
    flex-wrap:wrap;
}
#attendance-section button{
    width : 23%;
    min-height : 50%;
    border : 1px solid #ccc;
    border-radius : 3px;
    margin : 1%;
}
#attendance-build{
    display : flex;
    flex-wrap : wrap;
    width: 100%;
}
#attendance-section{
    width : 100%;
    display : none;
}
#years-section button{
    width : 18%;
    min-height : 50%;
    border : 1px solid #ccc;
    border-radius : 5px;
    margin : 1%;
}
#confirm-class-box{
    width : 12%;
}
#years-section{
    width : 100%;
    display : none;
}
#course-page{
    width : 100%;
    height : 98%;
    margin-top : 1%;
    background : #fff;
    display : flex;
    flex-wrap : wrap;
}
#hold-info section{
    width : 100%;
    display : flex;
    flex-wrap : wrap;
}
#hold-line:last-child{
    border : none;
}
#hold-line{
    width : 15%;
    margin : 0.5%;
    min-height : 20%;
    border : 1px solid #ccc;
    border-radius : 3px;
}
#hold-line-bar{
    width : 15%;
    margin : 0.5%;
    min-height : 20%;
    border : 1px solid #fff;
    border-radius : 3px;
}
#hold-info{
    width : 100%;
    text-align : center;
}
#report-page section{
    width : 98%;
    height: auto;
    min-height: 100% !important;
    margin : 1%;
    background : #fff;
}
#report-page{
    width : 100%;
    height : 98%;
    margin-top : 1%;
    background : rgb(234,234,234,0.7);
    display : flex;
    flex-wrap : wrap;
    text-align : center;
}
#confirm-box{
    width : 48%;
    margin : 1%;
    border-radius : 3px;
}
.box-in{
    background : #097B3E;
    border : 1px solid #fff;
    color : #fff;
}
.box-not{
    background : red;
    border : 1px solid #fff;
    color : #fff;
}
.box-out{
    background : #fff;
    border : 1px solid rgba(0,0,0,0.7);
    color : rgb(0,0,0,0.7);
}
#approve-button{
    height : 40px;
    width : 80%;
    margin-left : 10%;
    border : none;
    border-radius : 2px;
}
#reject-button{
    height : 40px;
    width : 80%;
    margin-left : 10%;
    border : none;
    border-radius : 2px;
}
#other-table div{
    width : 23%;
    margin : 1%;
    border : 1px solid #ccc;
}
#inner-part-level{
    width: 98%;
    margin: 1%;
    text-align: center;
    background: #fff;
}
#other-table section{
    width : 98%;
    margin : 1%;
    display : flex;
}
#other-table{
    width : 98%;
    margin : 1%;
    display : flex;
    flex-wrap : wrap;
}
.part-level div{
    margin : 0.2%;
    width : 48%;
    border : 1px solid var(--bs-body-bg);
    text-align : center;
}
.part-level{
    width : 98%;
    margin-left : 1%;
    background : #fff;
    display : flex;
    flex-wrap : wrap;
}
.inner-part-level{
    width : 96%;
    margin : 2%;
    margin-top : 0.1%;
    background : #fff;
    display : flex;
    flex-direction : column;
}
#search-form{
    height : 50%;
    width : 96%;
    border : 1px solid #ccc;
    margin : 2%;
    border-radius : 5px;
}
#search-section-left{
    height : 100%;
    width : 100%;
    display : flex;
}
#search-input{
    border : none;
    width : 79%;
    height : 100%;
    text-align : center;
}
#search-query-button{
    border : none;
    background : transparent;
    width : 19%;
}
#search-section-right{
    float : right;
    height : 100%;
    width : 39%;
    margin-right : 1%;
}
#search-section{
    height : auto;
    width : 98%;
    margin-left : 1%;
    background : #fff;
}
#course-section section{
    width : 100%;
}
#course-section button{
    border : none;
    margin : 1%;
    height : 40px;
    width : 48%;
    color : #fff;
}
#course-section{
    height : auto;
    width : 98%;
    margin : 1%;
    background : #fff;
    display : flex;
}
.select_approve{
    width : 100%;
    border : 1px solid #ccc;
    border-radius : 5px;
}
#level-parent{
    display : flex;
    flex-direction : column;
    width : 48%;
    height : auto;
}
#level-approve{
    width : 50%;
    height : 50px;
    display : flex;
}
#level-page{
    width : 40%;
    margin-left : 30%;
}
#level-button{
    width : 98%;
    margin : 1%;
}
#search-button{
    margin : 1%;
    height : 40px;
    width : 30%;
    border : 2px solid #1f2937;
    background : transparent;
    border-radius : 3px;
}
.tum_input{
    height : 40px;
    width : 98%;
    margin-left : 1%;
    border : none;
    border-bottom : 1px solid #ccc;
}
.legend_input{
    display : none;
    height : 30px;
    text-align : center;
    border : 1px solid #ccc;
    border-radius : 10px;
}
#level{
    width:98%;
    margin:1%;
    height:auto;
    min-height:100px;
    border:1px solid #ccc;
}
#card{
    width:98%;
    margin:1%;
    height:50%;
    border:1px solid #ccc;
    display : flex;
}
.card-build img{
    margin-left : 25%;
}
.card-build{
    width : 48%;
    height : 98%;
    margin : 1%;
    color : #fff;
    background-image : url('/Images/application.png');
}
.select_box{
    display : flex;
}
#section_move{
    text-decoration : underline;
    margin-left : 30%;
}
#apply-wall{
    width : 100%;
    height : 100%;
}
.panel{
    background:#fff;
    width:60%;
    min-height:400px;
    height:auto;
    float : right;
    text-align:center;
    margin-top: 1%;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-left: 1%;
    text-align: center;
    border-radius: 10px;
}
.approve-panel{
    background : #fff;
    width:100%;
    height : 100%;
}
#left-apply{
    width : 20%;
    height : 100%;
    float : left;
}
#feedback-apply{
    color : #b00b13;
}
.add_on_person{
    display : none;
    height : 40px;
    border : 1px solid #ccc;
    border-radius : 10px;
    text-align : center;
}
#internal_level{
    width : 98%;
    margin : 1%;
    border : none;
    display : flex;
    flex-direction : column;
}
#internal_level_small{
    width : 30%;
    margin : 1%;
    border : none;
    display : flex;
    flex-direction : column;
}
.personal_input{
    height : 40px;
    width : 100%;
    border : none;
    border-bottom : 1px solid #ccc;
}
#level_one{
    display : flex;
    width : 100%;
    height : 100%;
}
#disability_panel{
    width : 100%;
    display : none;
}
.input:hover{
    background : #fff;
    color : #04b18f;
    border : 2px solid #04b18f;
}
@media(min-width:856px){

    #search-section{
        height : 80px;
    }
    .part-level div{
        width : 19.6%;
    }
    #level-parent{
        flex-direction : row;
        width : 43%;
        height : 50px;
    }
    #confirm-box{
        width : 23%;
        margin : 1%;
    }
    #course-section button{
        width : 18%;
    }
}
